/* login */

.login-box {
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 500px);
  width: 1000px;
  height: 600px;
  border: 1px solid #333;
  padding-top: 150px;
  text-align: center;
  background-color: #fff;
}

#login-form input,
#login-form button {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  height: 30px;
  width: 500px;
  display: block;
  margin: 20px 0;
}

#login-form button {
  height: 55px;
  width: 530px;
  font-size: 1.1rem;
  background-color: #ddd;
  font-weight: bold;
  text-align: center;
}

.login-bg {
  position: relative;
  left: -10%;
  bottom: -50%;
  z-index: -1;
  transform: rotateZ(-10deg);
  width: 130%;
  height: 100%;
  background-color: #ccc;
}


/* join - agree */

.agree-wrap {
  position: relative;
  top: 50%;
  left: calc(50% - 400px);
  transform: translateY(-50%);
  width: 800px;
  text-align: center;
}

.agree-title {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.agree-check input,
#agree-all-check {
  height: 16px;
  width: 16px;
}

.agree-text {
  border: 1px solid #333;
  padding: 30px 20px;
  margin-bottom: 30px;
}

.agree-button-wrap {
  margin-top: 30px;
}

.agree-button-wrap button {
  width: 300px;
  height: 45px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

#cancel-button {
  background-color: rgb(92, 92, 92);
}

#agree-button {
  background-color: rgb(173, 173, 173);
}

.agree-button-wrap button:hover {
  opacity: 0.4;
}


/* join - info */

.join-info-wrap {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
}

#join-form {
  text-align: center;
}

.join-form-box {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

form>div>* {
  display: block;
}

.join-info-label-wrap {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.join-info-label-wrap label {
  display: block;
  margin-top: 41px;
}

.join-info-input-wrap {
  width: 500px;
  padding-top: 25px;
}

.join-info-input-wrap>* {
  margin: 4px 0;
}

.join-info-input-wrap input {
  margin-top: 5px;
  margin-bottom: 20px;
}

.join-info-input-wrap input[type=text],
.join-info-input-wrap input[type=password] {
  height: 20px;
  width: 350px;
}

.join-info-input-wrap>div {
  display: flex;
  justify-content: space-between;
}

.join-info-input-wrap button {
  margin-top: 5px;
  margin-bottom: 20px;
  display: block;
  width: 105px;
}

.join-info-input-wrap select {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 110px;
  padding: 0 10px;
}

.join-info-input-wrap input[type=number] {
  width: 150px;
}

#join-form-submit {
  width: 300px;
  height: 43px;
  margin-top: 30px;
  background-color: #aaa;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

#join-form-submit:hover {
  background-color: #666;
}


/* join-success */

.join-success-wrap {
  position: relative;
  top: calc(50% - 300px);
  left: calc(50% - 500px);
  width: 1000px;
  height: 600px;
  border: 1px solid #999;
  text-align: center;
  padding-top: 220px;
}

.join-success-wrap p {
  font-size: 2rem;
  margin: 10px 0;
}

.join-success-wrap button {
  width: 300px;
  margin-top: 130px;
  background-color: #aaa;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

.join-success-wrap button:hover {
  background-color: #666;
}


/* gnb */

header {
  width: 100%;
  height: 50px;
  background-color: #aaa;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.gnb-logo {
  width: 13%;
  background-color: #fff;
  border: 2px solid #aaa;
  text-align: center;
  line-height: 50px;
}

.gnb-login-mid {
  width: 70%;
  background-color: #aaa;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  line-height: 50px;
}

.gnb-login-text {
  position: relative;
  width: 17%;
}

.gnb-login-text p {
  position: absolute;
  top: 13px;
  width: 100%;
  text-align: center;
}

.gnb-login {
  display: none;
}


/* request-list */

.request-search-wrap {
  position: relative;
  top: 100px;
  left: calc(50% - 500px);
  width: 1000px;
  display: flex;
}

.request-search-wrap li {
  height: 45px;
  line-height: 45px;
  padding-left: 20px;
  border: 1px solid #999;
  border-bottom: none;
}

.request-search-wrap li:last-child {
  border-bottom: 1px solid #999;
}

.request-search-title {
  width: 200px;
}

.request-search-title li {
  border-right: none;
}

.request-search-input {
  width: 800px;
}

.request-search-input li {
  display: flex;
}

.request-search-input input {
  display: block;
  height: 15px;
  width: 200px;
  margin-top: 4px;
  margin-right: 10px;
  background-color: #fff;
}

.request-search-input p, 
.request-search-input button,
.request-search-input select {
  margin-right: 10px;
}

.request-search-input select {
  width: 233px;
  height: 35px;
  margin-top: 5px;
  padding-left: 10px;
}

.request-search-input button {
  height: 37px;
  width: 120px;
  margin-top: 4px;
  line-height: 10px;
}

#request-excel-btn {
  position: relative;
  top: 130px;
  left: calc(50% + 385px);
  background-color: #eee;
}

.request-list {
  position: relative;
  top: 150px;
  left: calc(50% - 500px);
  width: 1000px;
  border: 1px solid #999;
  border-spacing: 0;
}

.request-list > thead {
  font-weight: bold;
  background-color: #333;
  color: #fff;
}

.request-list td {
  height: 50px;
  text-align: center;
  border-bottom: 1px solid #999;
}

.request-list-title {
  width: 30%;
}

.request-list tr:last-child td {
  border-bottom: none;
}

.page-on {
  color: blue;
  text-decoration: underline;
}

.request-list-page {
  position: relative;
  top: 180px;
  text-align: center;
}

.request-list-page a {
  display: inline-block;
  padding: 0 5px;
}

.request-list-page a:hover {
  text-decoration: underline;
}

.request-list-page i:first-child {
  color: #bbb;
}

.request-list-page i {
  margin: 0 10px;
}

.request-list-add-btn {
  position: relative;
  top: 148px;
  left: calc(50% + 380px);
  width: 120px;
  background-color: #eee;
}

.request-list-add-btn:hover {
  background-color: #aaa;
  color: #fff;
}


/* request-add */

.req-add-wrap {
  position: relative;
  top: 50px;
  left: calc(50% - 600px);
  width: 1200px;
}

.req-add-top > div {
  display: flex;
  height: 45px;
  border: 1px solid #999;
  border-bottom: none;
}

.req-add-title {
  border-right: 1px solid #999;
}

.req-add-title > * {
  width: 230px;
  height: 100%;
  border: none;
  padding: 0 10px;
  font-size: 16px;
  background-color: #fff;
  line-height: 42px;
  font-weight: bold;
}

.req-add-title:nth-child(3) {
  border-left: 1px solid #999;
}

.req-add-wrap input:focus,
.req-add-wrap select:focus {
  outline: none;
}

.req-add-input {
  width: 970px;
}

.req-add-input2,
.req-add-input3 {
  width: 370px;
}

.req-add-input3 {
  display: flex;
  text-align: right;
  line-height: 43px;
}

.req-add-input3 > p {
  width: 50%;
  font-size: 12px;
  color: #666;
  padding: 0 10px;
}

.req-add-input3 > p:first-child {
  border-right: 1px solid #999;
}


.req-add-input > *,
.req-add-input2 > * {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border: none;
  background-color: #fff;
  font-size: 16px;
  line-height: 43px;
}

.req-add-input3 div:first-child {
  width: 60%;
  border-right: 1px solid #999;
}

.req-add-input3 div:last-child {
  width: 40%;
}

.ck-editor__editable {
  height: 500px;
}

.req-add-bottom {
  display: flex;
  justify-content: space-between;
}

.req-add-bottom button {
  display: block;
  width: 200px;
  margin-top: 10px;
}


/* request-detail */

.req-add-title2 {
  width: 100%;
  line-height: 43px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.req-add-title2 div {
  width: 175px;
  text-align: right;
  border-left: 1px solid #999;
  font-size: 14px;
  color: #999;
}

.req-add-mid > p {
  border: 1px solid #999;
  height: 500px;
  padding: 10px;
}

.req-fb-wrap {
  position: relative;
  top: 100px;
  left: calc(50% - 600px);
  width: 1200px;
}

.req-fb-wrap > div {
  border: 1px solid #999;
  border-bottom: none;
  border-top: none;
}

.req-fb-wrap > div:first-child {
  border-top: 1px solid #999;
}

.req-fb-wrap > div > div {
  display: flex;
  border-bottom: 1px solid #999;
  height: 45px;
  line-height: 45px;
}

.req-fb-wrap .req-fb-content p {
  width: 1200px;
}

.req-fb-wrap > div > div > p {
  width: 600px;
  padding: 0 10px;
}

.req-fb-wrap > div > div > p:first-child {
  border-right: 1px solid #999;
}

.req-fb-wrap > div > div:nth-child(2) > p {
  border-right: none;
}

.req-fb-customer {
  text-align: right;
}

.req-fb-wrap #delete-btn {
  width: 200px;
  height: 32px;
  line-height: 13px;
}

.req-fb-wrap #delete-btn:hover {
  background-color: #aaa;
  color: #fff;
}

.req-fb-content-add {
  position: relative;
  top: 150px;
  left: calc(50% - 600px);
  width: 1200px;
}

.req-fb-content-add input {
  width: 100%;
  background-color: #fff;
  padding: 10px;
  color: rgb(47, 125, 226);
  font-size: 16px;
}

.req-fb-content-add input:focus {
  outline: none;
}

.req-fb-content-add button {
  width: 200px;
  margin-top: 10px;
  margin-bottom: 100px;
}


/* request-edited */

.req-edit-alert {
  padding: 30px 10px;
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
}


/* request-fb-del */

.req-fb-wrap .req-fb-customer-del > p {
  height: 45px;
  padding: 0 10px;
  padding-top: 5px;
  text-align: right;
  border-bottom: 1px solid #999;
}

.req-fb-customer-del button {
  width: 200px;
  height: 35px;
  padding: 5px 0;
}

.req-fb-customer-del button i {
  font-size: 14px;
}

.req-fb-customer-del-con p {
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #999;
  padding: 0 20px;
  text-align: right;
  background-color: #eee;
}

.req-fb-customer-del-con p:last-child {
  border-bottom: none;
}


/* my page */

.customer-page-wrap {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: calc(50% - 500px);
  width: 1000px;
  text-align: right;
  font-size: 16px;
}

.customer-page {
  display: flex;
}

.customer-page > div > p {
  height: 60px;
}

.customer-page-title {
  width: 25%;
  text-align: center;
  font-weight: bold;
}

.customer-page-con {
  width: 75%;
  text-align: left;
}

.customer-page-wrap button {
  width: 200px;
}


/* my page */

#page-edit {
  text-align: center;
}

.customer-page-con input {
  width: 70%;
  height: 45px;
  margin-top: -15px;
  background-color: #fff;
  font-size: 16px;
}

.customer-page-phone {
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.customer-page-phone select {
  width: 150px;
  height: 45px;
  margin-top: -13px;
  font-size: 16px;
  padding-left: 10px;
}

.customer-page-phone input {
  width: 150px;
  padding-left: 10px;
  margin-top: -13px;
  background-color: #fff;
  text-align: center;
}

.customer-page-checkbox {
  display: flex;
  margin-top: -20px;
  padding-top: 25px;
}

.customer-page-checkbox input {
  width: 20px;
  height: 20px;
  margin-top: 1.5px;
  margin-right: 5px;
}

.customer-page-pwcheck {
  margin-top: 10px;
}

.customer-page-pwcheck input {
  display: block;
  background-color: #eee;
}

.customer-page-pwcheck input:last-child {
  margin-top: 15px;
}