/* login */

.login-box {
  position: absolute;
  top: calc(50% - 300px);
  left: calc(50% - 500px);
  width: 1000px;
  height: 600px;
  border: 1px solid #333;
  padding-top: 150px;
  text-align: center;
  background-color: #fff;
}

#login-form input,
#login-form button {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  height: 30px;
  width: 500px;
  display: block;
  margin: 20px 0;
}

#login-form button {
  height: 55px;
  width: 530px;
  font-size: 1.1rem;
  background-color: #ddd;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

#login-form button:hover {
  background-color: #999;
  color: #fff;
}

.login-bg {
  position: relative;
  left: -10%;
  bottom: -50%;
  z-index: -1;
  transform: rotateZ(-10deg);
  width: 130%;
  height: 100%;
  background-color: #ccc;
}


/* join - agree */

.agree-wrap {
  position: relative;
  top: 50%;
  left: calc(50% - 400px);
  transform: translateY(-50%);
  width: 800px;
  text-align: center;
}

.agree-title {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.agree-check input {
  height: 16px;
  width: 16px;
}

.agree-text {
  border: 1px solid #333;
  padding: 30px 20px;
  margin-bottom: 30px;
}

.agree-button-wrap {
  margin-top: 30px;
}

.agree-button-wrap button {
  width: 300px;
  height: 45px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

#cancel-button {
  background-color: rgb(92, 92, 92);
}

#agree-button {
  background-color: rgb(173, 173, 173);
}

.agree-button-wrap button:hover {
  opacity: 0.4;
}


/* join - info */

.join-info-wrap {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
}

#join-form {
  text-align: center;
}

.join-form-box {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

form>div>* {
  display: block;
}

.join-info-label-wrap {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.join-info-label-wrap label {
  display: block;
  margin-top: 41px;
}

.join-info-input-wrap {
  width: 500px;
  padding-top: 25px;
}

.join-info-input-wrap>* {
  margin: 4px 0;
}

.join-info-input-wrap input {
  margin-top: 5px;
  margin-bottom: 20px;
}

.join-info-input-wrap input[type=text],
.join-info-input-wrap input[type=password] {
  height: 20px;
  width: 350px;
}

.join-info-input-wrap>div {
  display: flex;
  justify-content: space-between;
}

.join-info-input-wrap button {
  margin-top: 5px;
  margin-bottom: 20px;
  display: block;
  width: 105px;
}

.join-info-input-wrap select {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 110px;
  padding: 0 10px;
}

.join-info-input-wrap input[type=number] {
  width: 150px;
}

#join-form-submit {
  width: 300px;
  height: 43px;
  margin-top: 30px;
  background-color: #aaa;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

#join-form-submit:hover {
  background-color: #666;
}


/* join-success */

.join-success-wrap {
  position: relative;
  top: calc(50% - 300px);
  left: calc(50% - 500px);
  width: 1000px;
  height: 600px;
  border: 1px solid #666;
  text-align: center;
  padding-top: 220px;
}

.join-success-wrap p {
  font-size: 2rem;
  margin: 10px 0;
}

.join-success-wrap button {
  width: 300px;
  margin-top: 130px;
  background-color: #aaa;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.join-success-wrap button:hover {
  background-color: #666;
}


/* gnb */

header {
  width: 100%;
  height: 50px;
  background-color: #aaa;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.gnb-logo {
  width: 13%;
  background-color: #fff;
  border: 2px solid #aaa;
  text-align: center;
  line-height: 50px;
}

.gnb-login-mid {
  width: 70%;
  background-color: #aaa;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  line-height: 50px;
}

.gnb-login-text {
  position: relative;
  width: 17%;
}

.gnb-login-text p {
  position: absolute;
  top: 13px;
  width: 100%;
  text-align: center;
}

.gnb-login {
  display: none;
}


/* request-list */

.request-search-wrap {
  position: relative;
  top: 100px;
  left: calc(50% - 500px);
  width: 1000px;
  display: flex;
}

.request-search-wrap li {
  height: 45px;
  line-height: 45px;
  padding-left: 20px;
  border: 1px solid #666;
  border-bottom: none;
}

.request-search-wrap li:last-child {
  border-bottom: 1px solid #666;
}

.request-search-title {
  width: 200px;
}

.request-search-title li {
  border-right: none;
}

.request-search-input {
  width: 800px;
}

.request-search-input li {
  display: flex;
}

.request-search-input input {
  display: block;
  height: 15px;
  width: 200px;
  margin-top: 4px;
  margin-right: 10px;
  background-color: #fff;
}

.request-search-input p, 
.request-search-input button,
.request-search-input select {
  margin-right: 10px;
}

.request-search-input select {
  width: 233px;
  height: 35px;
  margin-top: 5px;
  padding-left: 10px;
}

.request-search-input button {
  height: 37px;
  width: 120px;
  margin-top: 4px;
  line-height: 10px;
  background-color: #eee;
  cursor: pointer;
}

.request-search-input button:hover {
  background-color: #aaa;
  color: #fff;
}