/* login */

.login-box {
  padding-top: 100px;
}

.login-box h1 {
  font-size: 3rem;
}

.login-box p {
  font-size: 1.3rem;
}


/* system-add */

.system-add-title p{
  height: 70px;
  width: 150px;
  text-align: center;
  line-height: 70px;
}

.system-input > p {
  height: 70px;
  width: 450px;
  padding-top: 13px;
}

.system-input input {
  width: 100%;
  height: 45px;
  background-color: #fff;
}

.system-input select {
  width: 100%;
  height: 45px;
  padding: 0 10px;
  border-color: #999;
}


/* admin-stats */

#admin-stats {
  position: relative;
  top: 100px;
  left: calc(50% - 500px);
  width: 1000px;
  border-bottom: 1px solid #999;
}

#admin-stats > div {
  display: flex;
}

#admin-stats label {
  width: 200px;
  border: 1px solid #999;
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
  border-bottom: none;
  border-right: none;
}

#admin-stats > div > p {
  height: 45px;
  width: 800px;
  border: 1px solid #999;
  border-bottom: none;
  padding: 3px 10px;
}

#admin-stats input {
  width: 200px;
  background-color: #fff;
}

#admin-stats select {
  width: 200px;
  height: 35px;
}

#admin-stats button {
  width: 120px;
  height: 38px;
  margin-left: 40px;
}

.admin-stats-graph-wrap {
  position: relative;
  top: 180px;
  left: calc(50% - 500px);
  width: 1000px;
}

.admin-stats-graph-tab span {
  font-size: 16px;
  border-right: 1px solid #999;
  padding: 0 10px;
  cursor: pointer;
}

.admin-stats-graph-tab span:last-child {
  border-right: none;
}

.admin-stats-graph {
  width: 1000px;
  height: 300px;
  margin-top: 10px;
  border: 1px solid #999;
  background-color: #333;
  color: #fff;
}


/* reqeust-list */

.request-search-input input {
  height: 35px;
}


/* reqeust-add */

#admin-req-add-system {
  width: 220px;
  border-right: 1px solid #999;
}

#admin-req-add-system + input {
  width: 745px;
}

.req-add-input {
  display: flex;
}


/* reqeust-detail */

.req-fb-admin .req-fb-writer #delete-btn {
  margin-left: 10px;
}

.req-fb-content-add > div {
  justify-content: space-between;
  display: flex;
}

.req-fb-content-add > div > div {
  display: flex;
}

.req-fb-content-add > div > div > p {
  display: flex;
  height: 20px;
  width: 150px;
  margin-top: 20px;
  white-space: nowrap;
  margin-right: 10px;
}

.req-fb-content-add > div > p > input {
  width: 20px;
  margin-right: 20px;
}


/* admin-system */

#client-search-wrap {
  position: relative;
  top: 100px;
  left: calc(50% - 600px);
  width: 1200px;
  display: flex;
}

.client-search-title {
  width: 200px;
  height: 45px;
  line-height: 43px;
  border: 1px solid #999;
  padding-left: 10px;
  font-weight: bold;
  border-right: none;
}

.client-search-input {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  height: 45px;
  line-height: 45px;
  border: 1px solid #999;
  border-left: none;
}

.client-search-input input {
  display: block;
  background-color: #fff;
  height: 45px;
  width: 850px;
  margin-top: -1px;
  font-size: 16px;
}

.client-search-input button {
  width: 150px;
  border: none;
}

.client-list-wrap {
  position: relative;
  top: 150px;
  left: calc(50% - 600px);
  width: 1200px;
  border: 1px solid #999;
  line-height: 50px;
}

.client-list-wrap > ul > li > ul {
  display: flex;
  height: 50px;
  border-bottom: 1px solid #999;
  padding-left: 10px;
}

.client-list-wrap > ul > li:last-child > ul {
  border-bottom: none;
}

.client-list-title {
  background-color: #333;
  color: #fff;
  font-weight: bold;
}

#client-add-btn {
  position: relative;
  top: 130px;
  left: calc(50% + 450px);
  width: 150px;
}

.client-list-wrap > ul > li > ul > li {
  width: 15%;
}

.client-list-wrap > ul > li > ul > li:first-child {
  width: 40%;
}

.client-list-wrap > ul > li > ul > li:last-child {
  width: 30%;
}


/* client-add */

.client-add-wrap {
  position: relative;
  top: 100px;
  left: calc(50% - 500px);
  width: 1000px;
  text-align: right;
}

.client-add-wrap > div {
  border: 1px solid #999;
  display: flex;
}

.client-add-title {
  width: 200px;
  text-align: left;
}

.client-add-title p {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #999;
  padding-left: 10px;
  background-color: #f7f7f7;
}

.client-add-title p:last-child {
  border-bottom: none;
}

.client-add-input {
  width: 800px;
}

.client-add-input p {
  height: 50px;
  border-left: 1px solid #999;
}

.client-add-input p:last-child {
  padding-left: 10px;
  padding-top: 15px;
  text-align: left;
}

.client-add-input input {
  height: 50px;
  width: 100%;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #999;
}

.client-add-input input[type=radio] {
  width: 20px;
  height: 20px;
  vertical-align:text-top;
}

.client-add-input label {
  vertical-align: 0px;
  margin-right: 20px;
}

.client-add-wrap button {
  width: 150px;
  margin-top: 20px;
}


/* client-detail */

.client-detail-wrap {
  position: relative;
  top: 100px;
  left: calc(50% - 500px);
  width: 1000px;
  text-align: right;
}

.client-detail-top {
  display: flex;
  text-align: left;
  border: 1px solid #999;
}

.client-detail-title p {
  width: 200px;
  padding: 0 10px;
  height: 45px;
  font-weight: bold;
  line-height: 45px;
  border-bottom: 1px solid #999;
  background-color: #f7f7f7;
}

.client-detail-title p:last-child {
  border-bottom: none;
}

.client-detail-info p {
  width: 800px;
  height: 45px;
  line-height: 45px;
  padding: 0 10px;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
}

.client-detail-info p:last-child {
  border-bottom: none;
}

#client-detail-edit-btn {
  width: 150px;
  margin-top: 20px;
}

.client-detail-bottom {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  border: 1px solid #999;
}

.client-detail-bottom p {
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #999;
}

.client-detail-bottom p:first-child {
  background-color: #eee;
  font-weight: bold;
}

.client-detail-bottom p:last-child {
  border-bottom: none;
}

.client-btn-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.client-btn-wrap button {
  width: 150px;
}


/* client-edit */

.client-edit-text {
  line-height: 50px;
  text-align: left;
  padding-left: 10px;
  border-bottom: 1px solid #999;
}

.system-add-wrap,
.system-edit-wrap {
  position: relative;
  top: 25%;
  left: calc(50% - 300px);
  width: 600px;
  text-align: center;
}

.system-add-wrap > div,
.system-edit-wrap > div {
  display: flex;
  text-align: left;
}

.system-title p {
  height: 45px;
  width: 150px;
  line-height: 45px;
}

.system-add-wrap button,
.system-edit-wrap button {
  width: 150px;
  margin-top: 50px;
}


/* client-list */

.customer-list-wrap {
  position: relative;
  top: 100px;
  left: calc(50% - 600px);
  width: 1200px;
}

.customer-search {
  display: flex;
  border: 1px solid #999;
}

.customer-search-title {
  width: 200px;
}

.customer-search-title p {
  height: 45px;
  line-height: 45px;
  padding-left: 10px;
}

.customer-search-title p:first-child {
  border-bottom: 1px solid #999;
}

.customer-search-input p,
.customer-search-input form {
  height: 45px;
  width: 1000px;
  line-height: 45px;
  border-left: 1px solid #999;
}

.customer-search-input p:first-child {
  border-bottom: 1px solid #999;
}

.customer-search-input form {
  display: flex;
}

.customer-search-input form input {
  display: block;
  border: none;
  background-color: #fff;
  font-size: 16px;
  height: 45px;
  width: 850px;
}

.customer-search-input form button {
  width: 150px;
  border: none;
  border-left: 1px solid #999;
}

.customer-search-input select {
  display: block;
  border: none;
  font-size: 16px;
  width: 100%;
  height: 43px;
  padding-left: 10px;
}

.customer-list {
  margin-top: 70px;
  width: 100%;
  border: 1px solid #999;
  border-bottom: none;
}

.customer-list-title {
  background-color: #333;
  color: #fff;
  font-weight: bold;
}

.customer-list ul li {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #999;
}

.customer-list ul li ul {
  display: flex;
}

.customer-list ul li ul li {
  width: 25%;
  padding-left: 10px;
}

.system-list-page {
  top: 50px;
  cursor: pointer;
}



/* customer-detail */

.customer-detail {
  position: relative;
  top: 25%;
  left: calc(50% - 300px);
  width: 600px;
  text-align: right;
}

.customer-detail > div {
  display: flex;
}

.customer-detail-title p {
  width: 150px;
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  text-align: center;
}

.customer-detail-info p {
  width: 150px;
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  text-align: left;
}

.customer-detail button {
  width: 150px;
  margin-top: 20px;
}



/* customer-edit */

.customer-edit {
  position: relative;
  top: 25%;
  left: calc(50% - 300px);
  width: 600px;
  text-align: center;
}

.customer-edit > div {
  display: flex;
  height: 70px;
  line-height: 70px;
}

.customer-edit-title {
  width: 150px;
  font-size: 18px;
}

.customer-edit-input input {
  height: 40px;
  width: 450px;
  background-color: #fff;
  font-size: 16px;
}

.customer-edit-input,
.customer-edit-input2,
.customer-edit-input3,
.customer-edit-input4 {
  display: flex;
  width: 450px;
  padding-top: 15px;
}

.customer-edit-input2 input {
  height: 40px;
  width: 350px;
  background-color: #fff;
  font-size: 16px;
}

.customer-edit-input2 button {
  height: 40px;
  width: 100px;
  border-left: none;
}

.customer-edit-input3 input {
  display: block;
  width: 35%;
  height: 40px;
  background-color: #fff;
  margin-left: 10px;
}

.customer-edit-input3 select {
  height: 40px;
  width: 30%;
  padding-left: 10px;
}

.customer-edit-input4 input {
  width: 100%;
  height: 40px;
  background-color: #f7f7f7;
}

.customer-edit-input select {
  width: 100%;
  height: 40px;
  padding-left: 10px;
}

.customer-edit > button {
  width: 150px;
  margin-top: 50px;
}


/* customer-edit-popup */

.customer-edit-popup {
  position: fixed;
  top: calc(50% - 305px);
  left: calc(50% - 400px);
  width: 800px;
  height: 610px;
  border: 1px solid #666;
  padding: 20px;
  background-color: #fff;
}

.customer-edit-popup > p {
  text-align: right;
  font-size: 22px;
}

.customer-edit-popup > p > i {
  cursor: pointer;
}

.customer-popup-search {
  display: flex;
  width: 100%;
  height: 40px;
  border: 1px solid #999;
  margin: 20px 0;
}

.customer-popup-search input {
  width: 600px;
  border: none;
  background-color: #fff;
  font-size: 16px;
  display: block;
}

.customer-popup-search button {
  width: 160px;
  height: 40px;
  border-left: 1px solid #999;
  display: block;
  margin-top: -1px;
  margin-right: -1px;
}

.customer-popup-list {
  border: 1px solid #999;
}

.customer-popup-list li {
  width: 100%;
  text-align: center;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #999;
}

.customer-popup-list li:first-child {
  background-color: #333;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.customer-popup-list li:last-child {
  border-bottom: none;
}


/* admin-list */

.admin-list {
  position: relative;
  top: 100px;
  left: calc(50% - 600px);
  width: 1200px;
}

.admin-list-search {
  display: flex;
}

.admin-list-search-title {
  width: 200px;
  border: 1px solid #999;
  height: 45px;
  line-height: 42px;
  padding-left: 10px;
}

.admin-list-search-input {
  display: flex;
}

.admin-list-search-input input {
  width: 850px;
  height: 45px;
  border-left: none;
  display: block;
  background-color: #fff;
  font-size: 16px;
}

.admin-list-search-input button {
  width: 150px;
  height: 45px;
  border-left: none;
  display: block;
}

.admin-list-list {
  margin-top: 50px;
}

.admin-list-list > li > ul {
  display: flex;
  justify-content: space-around;
  height: 50px;
  line-height: 50px;
  border: 1px solid #999;
  border-bottom: none;
}

.admin-list-list > li:first-child {
  background-color: #333;
  color: #fff;
  font-weight: bold;
}

.admin-list-list > li:last-child > ul {
  border-bottom: 1px solid #999;
}

.admin-list-list > li > ul > li {
  width: 33.33%;
  padding-left: 10px;
}

.list-page-admin-list {
  top: 150px;
}


/* admin-edit */

.admin-edit-wrap {
  position: relative;
  top: 100px;
  left: calc(50% - 400px);
  width: 800px;
}

.admin-edit-info {
  border-bottom: 1px solid #999;
}

.admin-edit-info > div {
  display: flex;
}

.admin-edit-title {
  width: 150px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border: 1px solid #999;
  border-bottom: none;
  background-color: #f7f7f7;
}

.admin-edit-input {
  width: 650px;
  height: 70px;
  padding: 0 10px;
  border: 1px solid #999;
  border-left: none;
  border-bottom: none;
  line-height: 70px;
}

.admin-edit-input input {
  width: 300px;
  background-color: #fff;
  font-size: 16px;
  height: 50px;
  display: block;
  margin-top: 10px;
}

.admin-edit-input2 {
  display: flex;
}

.admin-edit-input2 select {
  width: 150px;
  height: 50px;
  margin-top: 10px;
  padding-left: 10px;
}

.admin-edit-input2 input {
  width: 150px;
  margin-left: 10px;
}

.admin-edit-list {
  margin-top: 20px;
  width: 100%;
}

.admin-edit-list table {
  width: 100%;
  text-align: center;
}

.admin-edit-list th {
  height: 45px;
  background-color: #f7f7f7;
}

.admin-edit-list td {
  height: 40px;
}