* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body * {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 45px;
  font-size: 16px;
  transition: all 0.2s;
}

input, select {
  border-radius: 10px;
  border: none;
  background-color: #f9f9f9;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid #d9dadf;
  height: 45px;
}

input[type="checkbox"] {
  height: fit-content;
}

input:focus {
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.red-btn {
  background-color: rgb(245, 97, 97);
  color: #fff;
  font-weight: bold;
}

.red-btn:hover {
  background-color: rgb(192, 72, 72);
}

.blue-btn {
  background-color: rgb(88, 101, 175);
  font-weight: bold;
  color: #fff;
}

.blue-btn:hover {
  background-color: rgb(60, 71, 133);
}

.purple-btn {
  background-color: rgb(133, 99, 187);
  font-weight: bold;
  color: #fff;
}

.purple-btn:hover {
  background-color: rgb(92, 59, 136);
}

.btn {
  border: 1px solid #ccd1e7;
  background-color: #f5f5fa;
}

.btn:hover {
  background-color: #d6dbee;
}

.bg {
  width: 100%;
  height: 100%;
  background-color: #d9dadf;
}


/* index */

.index-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  left: calc(50% - 600px);
  width: 1200px;
  margin-top: 20px;
  border-bottom:  1px solid #999;
  padding-bottom: 50px;
}

h1 {
  margin-top: 50px;
  text-align: center;
}

.index-wrap > li {
  border: 1px solid #999;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}

.index-wrap > li > p {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 20px;
  border-bottom: 1px solid #999;
}

.index-wrap > li > ul {
  padding-top: 20px;
}

.index-wrap > li > ul > li {
  margin: 20px 0;
}

.index-wrap > li > ul > li:hover {
  color: blue;
  text-decoration: underline;
}


/* customer-login */

.login-wrap {
  position: fixed;
  left: calc(50% - 300px);
  top: calc(50% - 300px);
  width: 600px;
  height: 600px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  padding-top: 100px;
  background-color: #fff;
}

.login-wrap > h1 {
  margin-bottom: 20px;
  color: #272544;
  font-size: 2rem;
}

.login-wrap > h5 {
  font-weight: 400;
}

.login-wrap > p {
  height: 70px;
  line-height: 70px;
}

.login-wrap input {
  height: 45px;
  width: 400px;
  background-color: #f7f7f7;
}

.login-wrap button {
  margin-top: 50px;
}

.login-wrap a {
  margin-top: 50px;
  font-size: 14px;
  text-decoration: underline;
}

.login-wrap h3:first-child {
  margin-top: 120px;
}

.login-wrap h3 {
  margin-top: 20px;
}


/* info */

.info-wrap {
  position: relative;
  top: 50%;
  left: calc(50% - 500px);
  transform: translateY(-50%);
  width: 1000px;
  background-color: #fff;
  text-align: center;
  padding: 50px;
  border-radius: 20px;
}

.info-wrap > ul > li {
  display: flex;
}

.info-title {
  width: 200px;
  height: 70px;
  font-weight: bold;
  text-align: left;
  padding-top: 13px;
}

.info-title > p {
  height: 45px;
  width: 180px;
  line-height: 45px;
  padding-left: 10px;
  background-color: #f5f7fd;
  border: 1px solid #ccd1e7;
  border-radius: 10px;
}

.info-input {
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 70px;
  line-height: 70px;
  padding-top: 13px;
}

.info-input input {
  display: block;
  width: 500px;
  margin-right: 10px;
}

.info-select select {
  width: 150px;
}

.info-select input {
  width: 250px;
}

.info-wrap > button {
  margin-top: 50px;
}


/* gnb */

header {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  color: #333;
  z-index: 99999;
}

header > div {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  max-width: 1800px;
  min-width: 1000px;
}

.gnb-logo {
  width: 15%;
  text-align: center;
}

.gnb-mid {
  width: 70%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #d9dadf;
  border-top: none;
  border-bottom: none;
  background-color: #f7f7f7;
  padding: 0 50px;
}

.gnb-menu {
  position: absolute;
  height: 0px;
  border: 1px solid #d9dadf;
  background-color: #f7f7f7;
  padding: 0 20px;
  margin-left: -20px;
  overflow: hidden;
  transition: all 0.2s;
}

.gnb-nav {
  cursor: pointer;
}

.gnb-nav:hover .gnb-menu {
  height: 160px;
}

.gnb-login {
  width: 15%;
  text-align: center;
}

header a:hover {
  text-decoration: underline;
}


/* list */

.list-search {
  position: relative;
  top: 50px;
  left: calc(50% - 600px);
  width: 1200px;
  border: 1px solid #ccd1e7;
  border-radius: 5px;
}

.list-search > div {
  display: flex;
  height: 55px;
  border-bottom: 1px solid #ccd1e7;
}

.list-search > div:last-child {
  border-bottom: none;
}

.search-title {
  width: 200px;
  text-align: left;
  padding-left: 20px;
  line-height: 55px;
  border-right: 1px solid #ccd1e7;
  background-color: #f5f5fa;
  font-weight: bold;
}

.list-search > div:first-child .search-title {
  border-top-left-radius: 5px;
}

.list-search > div:last-child .search-title {
  border-bottom-left-radius: 5px;
}

.search-input {
  position: relative;
  width: 1000px;
  padding: 5px 10px;
  background-color: #fff;
}

.list-search > div:first-child .search-input {
  border-top-right-radius: 10px;
}

.list-search > div:last-child .search-input {
  border-bottom-right-radius: 10px;
}

.search-input input {
  width: 200px;
}

.search-select {
  width: 200px;
  margin-right: 15px;
}

.search-input1 {
  display: flex;
}

.search-input1 input {
  width: 420px;
  margin-right: 270px;
}

.search-input1 button {
  margin: 0 3px;
}

.search-input2 button {
  margin-left: 140px;
}

.search-btn {
  position: absolute;
  right: 0;
  width: 330px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #fff;
  padding-top: 5px;
}

.list-wrap {
  position: relative;
  left: calc(50% - 600px);
  top: 100px;
  width: 1200px;
  text-align: right;
}

.list {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.list thead tr {
  border: 1px solid #ccd1e7;
  background-color: #f5f5fa;
  height: 50px;
}

.list tbody tr {
  height: 50px;
  border: 1px solid #ccd1e7;
}

.list tbody tr td {
  width: 100px;
  color: #616d86;
  padding: 0 10px;
  font-size: 15px;
  white-space: nowrap;
}

.list-SR {
  width: 100px;
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list-company {
  width: 120px;
  max-width: 120px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list-title {
  max-width: 300px;
  width: 300px;
}

.list-title a:hover {
  text-decoration: underline;
}

.list-title a {
  width: 100%;
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-weight: bold;
}


/* pagenation */

.page-wrap {
  position: relative;
  width: 100%;
  margin-top: 30px;
}

.page {
  position: relative;
  left: calc(50% - 175px);
  display: flex;
  justify-content: space-around;
  width: 350px;
  line-height: 15px;
  cursor: pointer;
}

.page a {
  padding: 0 5px;
}

.page a.on {
  color: blue;
  text-decoration: underline;
}

.page a:hover {
  text-decoration: underline;
}

.page-wrap button {
  position: absolute;
  top: -15px;
  right: 0;
}

.page i {
  margin: 0 10px;
}


/* detail */

.detail-wrap {
  position: relative;
  top: 50px;
  left: calc(50% - 600px);
  width: 1200px;
  border: 1px solid #ccd1e7;
  border-bottom: none;
}

.detail-wrap > div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccd1e7;
  height: 45px;
  line-height: 45px;
}

.detail-wrap > div:last-child {
  border-bottom: none;
}

.detail-wrap .detail-input-title {
  width: 950px;
  padding: 0;
}

.detail-wrap .detail-input-title input {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  border: none;
  line-height: 45px;
}

.detail-wrap .detail-input-title2 {
  width: 950px;
  display: flex;
  padding: 0;
}

.detail-wrap .detail-input-title2 select {
  width: 25%;
  height: 100%;
  display: block;
  border: none;
  border-radius: 0px;
  border-right: 1px solid #ccd1e7;
}

.detail-wrap .detail-input-title2 input {
  width: 75%;
  height: 100%;
  border: none;
  display: block;
  border-radius: 0px;
}

.detail-box {
  width: 250px;
  border-right: 1px solid #ccd1e7;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.detail-box span {
  color: #616d86;
}

.detail-wrap .detail-box2{
  padding: 0;
  line-height: initial;
}

.detail-box2 select {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0px;
}

.detail-wrap > div > * {
  padding-left: 10px;
}

.detail-wrap > div > .detail-box:nth-child(3) {
  border-left: 1px solid #ccd1e7;
}

.detail-wrap .detail-input {
  width: 350px;
  padding: 0;
}

.detail-input select,
.detail-input input {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0px;
}

.detail-input2 {
  display: flex;
}

.detail-input2 p:first-child {
  width: 50%;
  border-right: 1px solid #ccd1e7;
  text-align: right;
  padding-right: 10px;
  font-size: 14px;
  color: #616d86;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.detail-input2 p:last-child {
  width: 50%;
  text-align: right;
  padding-right: 10px;
  font-size: 14px;
  color: #616d86;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.detail-wrap .detail-con {
  width: 1200px;
  height: 500px;
  margin-top: -1px;
  margin-left: -1px;
  overflow: hidden;
  color: #333;
}

.detail-wrap > div > input[type="file"] {
  display: block;
  width: 100%;
  margin-top: -1px;
  line-height: 45px;
  border: none;
  border-radius: 0px;
}

.ck-editor__editable {
  display: block;
  width: 1200px;
  height: 460px;
  line-height: 30px;
}

.detail-btn {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  margin-left: -1px;
  border: 1px solid #fff;
}

.detail-btn button {
  padding: 0;
}

.file-msg {
  position: absolute;
  z-index: -10;
  top: 650px;
  left: 10px;
  background-color: #616d86;
  color: #fff;
  font-weight: bold;
  padding: 0 20px;
  border-radius: 5px;
  transition: all 0.4s;
  opacity: 0;
}

.file-input:hover .file-msg {
  top: 620px;
  opacity: 1;
  z-index: 10;
}


/* list-detail */

.detail-box3 {
  width: 1025px;
}

.detail-box3 input {
  width: 100%;
  border-radius: 0px;
  border: none;
}

.detail-box4 {
  width: 175px;
  text-align: right;
  color: #616d86;
  padding-right: 10px;
  font-size: 14px;
}

.detail-input > p {
  padding-left: 10px;
}

.detail-bg {
  background-color: #f5f5fa;
}

.file-input p {
  color: #3596f0;
  cursor: pointer;
}

.file-input p:hover {
  text-decoration: underline;
}

.hide {
  opacity: 0;
  cursor:default;
}


/* feedback */

.fb-wrap {
  position: relative;
  top: 200px;
  left: calc(50% - 600px);
  width: 1200px;
  border-radius: 20px;
  padding: 20px;
}

.fb-wrap > div {
  padding: 20px;
}

.fb-wrap > div.on .fb-title {
  color: #8357eb;
}

.fb-title {
  display: inline-block;
  padding: 10px;
  font-weight: bold;
}

.fb-title a {
  float: right;
  margin-left: 10px;
}

.fb-title a:hover {
  text-decoration: underline;
}

.fb-admin .fb-con {
  display: inline-block;
  width: fit-content;
  min-width: 350px;
  background-color: #f5f5fa;
  border: 1px solid #b9c6d4;
  border-radius: 10px;
  padding: 30px;
}

.fb-admin .fb-con p {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccd1e7;
}

.fb-customer .fb-con p {
  padding-bottom: 20px;
  border-bottom: 1px solid #ddbdb9;
}

.fb-con h5 {
  color: #616d86;
  font-weight: 400;
  font-size: 14px;
  margin-top: 5px;
}

.fb-customer {
  text-align: right;
}

.fb-customer .fb-con {
  display: inline-block;
  width: fit-content;
  min-width: 350px;
  background-color: rgb(252, 247, 230);
  border: 1px solid #ddbdb9;
  border-radius: 10px;
  padding: 30px;
}

.fb-add {
  position: relative;
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.fb-add textarea {
  width: 1000px;
  border: 2px solid #ccd1e7;
  font-size: 16px;
  height: 100px;
  line-height: 28px;
  padding: 10px;
  border-radius: 10px;
  display: block;
  resize: none;
}

textarea:focus {
  outline: none;
}

.fb-add button {
  height: 100px;
}

.fb-list-edited p {
  padding: 20px 0;
  text-align: center;
  font-weight: bold;
  color: #616d86;
  border-top: 1px solid #616d86;
  /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2); */
}

.fb-add-radio {
  display: flex;
  position: absolute;
  margin-top: -30px;
}

.fb-add-radio label {
  margin-right: 10px;
  color: #333;
}

.fb-add-radio input {
  width: 16px;
  height: 16px;
  line-height: 20px;
  margin-right: 5px;
  margin-top: 3px;
}


/* fb-delete */

.fb-del {
  color: #333;
}

.fb-con h5 i {
  margin: 0 5px;
}

.fb-del-open {
  cursor: pointer;
}

.fb-del-open:hover {
  text-decoration: underline;
}

.fb-del-con {
  padding-top: 20px;
  color: #616d86;
}

.fb-del-date {
  padding: 10px 0;
}


/* mypage */

.my-wrap {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: calc(50% - 400px);
  width: 800px;
  background-color: #fff;
  border-radius: 20px;
  padding: 100px;
  text-align: center;
}

.my-wrap h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #272544;
}

.my-con {
  padding-top: 20px;
}

.my-con > div {
  display: flex;
  justify-content: space-between;
  height: 45px;
  margin: 20px 0;
  line-height: 45px;
}

.my-title {
  background-color: #f5f5fa;
  border: 1px solid #ccd1e7;
  border-radius: 10px;
  width: 150px;
}

.my-input {
  width: 430px;
  border: 1px solid #ccd1e7;
  border-radius: 10px;
  display: flex;
}

.my-input input {
  display: block;
  width: 430px;
  margin-top: -1px;
  margin-left: -1px;
}

.my-input input[type="radio"] {
  width: 15px;
  height: 15px;
  margin-top: 15px;
  margin-left: 10px;
}

.my-input label {
  line-height: 43px;
  margin-left: 5px;
  margin-right: 20px;
}

.my-input2 {
  display: flex;
  justify-content: space-between;
  border: none;
}

.my-input2 input,
.my-input2 select {
  width: 32%;
}

.my-con .my-input-check {
  margin-left: 170px;
  width: 170px;
  height: 20px;
  line-height: 15px;
  font-size: 14px;
  margin-bottom: -15px;
}

.my-input-check input {
  height: 18px;
  width: 18px;
}

.my-btn {
  margin-top: 20px;
}


/* client-detail */

.client-wrap .client-info {
  position: relative;
  top: 50px;
  left: calc(50% - 500px);
  width: 1000px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}

